/* line 5, src/sass/_constantes.scss */
a {
  text-decoration: none;
}

/* line 7, src/sass/_constantes.scss */
a:hover {
  text-decoration: none;
}

/* line 12, src/sass/_constantes.scss */
.contenedor__cabecera, .contenedor__cabecera .cabecera, .cabecera__superior, .contenedor__cabecera__inferior, .contenedor__cuerpo, .contenedor__slider {
  float: left;
  width: 100%;
}

/* line 17, src/sass/_constantes.scss */
.contenedor__cabecera__inferior .elemento__boton {
  float: left;
  margin: 10px 0;
  padding: 8px 12px;
  background: #FF7195;
  border: 1px solid #FF7195;
  color: #fff;
}

/* line 24, src/sass/_constantes.scss */
.contenedor__cabecera__inferior .elemento__boton:hover {
  background: transparent;
  border: 1px solid #212121;
  color: #212121;
}

/* line 1, src/sass/_cabecera.scss */
.contenedor__cabecera {
  padding: 0 1em;
}

/* line 9, src/sass/_cabecera.scss */
.cabecera__superior {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 17, src/sass/_cabecera.scss */
.cabecera__superior .nombre--empresa--cabecera h6 {
  margin: 0;
}

/* line 23, src/sass/_cabecera.scss */
.info--cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 26, src/sass/_cabecera.scss */
.info--cabecera .contenedor__enlace__cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #212121;
}

/* line 30, src/sass/_cabecera.scss */
.info--cabecera .contenedor__enlace__cabecera:hover {
  text-decoration: none;
  color: #FF7195;
}

/* line 37, src/sass/_cabecera.scss */
.contenedor__botonera {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 46, src/sass/_cabecera.scss */
.contenedor__cabecera__inferior {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 54, src/sass/_cabecera.scss */
.contenedor__cabecera__inferior .elemento--imagen {
  padding: 0;
}

/* line 56, src/sass/_cabecera.scss */
.contenedor__cabecera__inferior .elemento--imagen img {
  border: 1px solid #212121;
}

/* line 60, src/sass/_cabecera.scss */
.contenedor__cabecera__inferior .elemento--texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

@media (max-width: 670px) {
  /* line 74, src/sass/_cabecera.scss */
  .cabecera__superior {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 560px) {
  /* line 82, src/sass/_cabecera.scss */
  .elemento__cabecera__inferior {
    float: left;
    width: 100%;
  }
}

/* line 5, src/sass/_constantes.scss */
a {
  text-decoration: none;
}

/* line 7, src/sass/_constantes.scss */
a:hover {
  text-decoration: none;
}

/* line 12, src/sass/_constantes.scss */
.contenedor__cabecera, .contenedor__cabecera .cabecera, .cabecera__superior, .contenedor__cabecera__inferior, .contenedor__cuerpo, .contenedor__slider {
  float: left;
  width: 100%;
}

/* line 17, src/sass/_constantes.scss */
.contenedor__cabecera__inferior .elemento__boton {
  float: left;
  margin: 10px 0;
  padding: 8px 12px;
  background: #FF7195;
  border: 1px solid #FF7195;
  color: #fff;
}

/* line 24, src/sass/_constantes.scss */
.contenedor__cabecera__inferior .elemento__boton:hover {
  background: transparent;
  border: 1px solid #212121;
  color: #212121;
}

/* line 3, src/sass/_cuerpo.scss */
.contenedor__cuerpo {
  padding: 2em 0;
}

/* line 6, src/sass/_slider.scss */
.carousel-control .svg-inline--fa {
  position: absolute;
  top: 50%;
  font-size: 1.5em;
}

/* line 13, src/sass/_slider.scss */
#iconoSliderIzquierdo {
  left: 30%;
}

/* line 17, src/sass/_slider.scss */
#iconoSliderDerecho {
  right: 30%;
}

@media (max-width: 560px) {
  /* line 24, src/sass/_slider.scss */
  .carousel-control .svg-inline--fa {
    font-size: 1em;
  }
}
