/* line 5, src/sass/_constantes.scss */
a {
  text-decoration: none;
}

/* line 7, src/sass/_constantes.scss */
a:hover {
  text-decoration: none;
}

/* line 12, src/sass/_constantes.scss */
.contenedor__listado__servicios, .contenedor__encabezado__seccion, .contenedor__servicios, .contenedor__servicio__individual .elemento__servicio {
  float: left;
  width: 100%;
}

/* line 17, src/sass/_constantes.scss */
.elemento__boton {
  float: left;
  margin: 10px 0;
  padding: 8px 12px;
  background: #FF7195;
  border: 1px solid #FF7195;
  color: #fff;
}

/* line 24, src/sass/_constantes.scss */
.elemento__boton:hover {
  background: transparent;
  border: 1px solid #212121;
  color: #212121;
}

/* line 3, src/sass/servicios.scss */
.contenedor__listado__servicios {
  margin: 30px 0;
}

/* line 8, src/sass/servicios.scss */
.contenedor__encabezado__seccion {
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

/* line 16, src/sass/servicios.scss */
.contenedor__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 22, src/sass/servicios.scss */
.contenedor__servicio__individual {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

/* line 29, src/sass/servicios.scss */
.contenedor__servicio__individual .elemento__servicio {
  text-align: center;
}

/* line 34, src/sass/servicios.scss */
.contenedor__servicio__individual .imagen--servicio img {
  width: 100%;
  border: 1px solid #212121;
}

/* line 39, src/sass/servicios.scss */
.contenedor__servicio__individual .titulo--servicio {
  text-transform: uppercase;
}

@media (max-width: 560px) {
  /* line 49, src/sass/servicios.scss */
  .contenedor__servicio__individual {
    float: left;
    width: 100%;
  }
}
